#log-console {
  margin-top: 10px;
  height: 80px;
  overflow: hidden;
  font-size: 10px;
  color: #55ff55;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 10px;
  opacity: 0.8;
  font-family: monospace;
}

.log-entry {
  margin-bottom: 3px;
}
